{% extends "base.html" %}

{% block 'title' %}Lista de tarefas{% endblock %}

{% block 'main' %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-9" id="main">
                <br><br><br><br>
                <div class="row g-0 justify-content-end">
                    <div class="col-auto align-self-center">
                        <button type="button" hx-get="{% url 'adicionar_tarefa' %}" hx-target="#dialog"
                            class="btn btn-dark col-auto">
                            Adicionar tarefa
                        </button>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center justify-content-md-end" hx-get="{% url 'lista_tarefas' %}"
                    hx-trigger="change from:body #filtro_prioridade" hx-target="#search-results"
                    hx-include="#filtro_titulo, #filtro_prioridade">

                    <div class="col-md-auto d-flex flex-column flex-row">
                        <input id="filtro_titulo" class="form-control" type="search" name="titulo"
                            placeholder="Pesquisar..." hx-get="{% url 'lista_tarefas' %}"
                            hx-trigger="keyup changed delay:500ms, search">
                    </div>

                    <div class="col-md-auto d-flex flex-column flex-row">
                        <select class="form-select text-center" id="filtro_prioridade" title="filtro-prioridade"
                            name="prioridade">
                            <option value="">
                                Todas as prioridades
                            </option>
                            {% for i, j in prioridades %}
                                <option value="{{i}}">
                                    Prioridade {{j}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-light table-hover align-middle" border="1" vertical-align="center">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Título</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Prioridade</th>
                                <th scope="col">Data</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="search-results" hx-trigger="load, taskListChanged from:body"
                            hx-get="{% url 'lista_tarefas' %}" hx-target="this">
                            <tr>
                                <td class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>


    <!-- Modal placeholder -->
    <div id="modal" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
        <div id="dialog" class="modal-dialog modal-lg modal-dialog-centered" role="document" hx-target="this"></div>
    </div>

    <!-- Empty toast to show the message -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-dark bg-warning border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- Django messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="toast-container position-fixed top-0 end-0 p-3">
                <div id="toastMsg" class="toast align-items-center text-{{message.tags}} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body fw-bold">
                            {{message}}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}